body {
  background: #9fd3c7;
  font-family: "Comfortaa", cursive;
  font-weight: 400;
}

.weather-app {
  max-width: 800px;
  margin: 0 auto;
}

.container {
  border: 1px solid white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 20px;
  margin: 30px auto;
  background-color: #f8f9fa;
}

.city {
  font-weight: 1000;
  text-align: left;
}

.card-2 {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

ul,
.extra {
  list-style-type: none;
  padding: 10px;
  text-align: left;
  font-size: 20px;
}

li {
  margin: 20px;
}
.dallas {
  padding-right: 450px;
  background-color: white;
  border-radius: 20px;
  margin: 10px auto;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.sun-emoji {
  position: relative;
  top: 10px;
  margin: 10px;
  padding: 20px;
}

.card-body {
  text-align: left;
  font-size: 15px;
}

.weather-app {
  max-width: 1000px;
  margin: -30 auto;
}

.card {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.weather-forecast-date,
.weather-forecast-temperatures {
  text-align: center;
}

.bold,
.weather-forecast-temperatures-max,
.weather-forecast-temperatures-min {
  font-weight: 900;
}

.units {
  font-size: 20px;
  position: relative;
  top: -9px;
}

.active {
  color: black;
  cursor: default;
  font-weight: 600;
}

.active:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
}

.little {
  font-size: 20px;
  position: relative;
  top: -9px;
}

footer {
  text-align: center;
}
