.weather-app {
  max-width: 800px;
  margin: 0 auto;
}

.weather-app {
  max-width: 1000px;
  margin: -30 auto;
}

.weather-forecast-date,
.weather-forecast-temperatures {
  text-align: center;
}

.weather-forecast-temperatures-max,
.weather-forecast-temperatures-min {
  font-weight: 400;
}

.weather-forecast-date,
.weather-forecast-temperatures-min {
  opacity: 0.5;
}
